    #carte {
      height: 400px;
      width: 100%;
    }
  #filtre {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  button, input, select, textarea {
  width: 100%;
  }
  label{
  width: 100%;
  }
  #amount-time{
  text-align: center;
  }
  .hide{
    display:none;
  }
  .afficher-cacher-filtre {
    width: 100%;
      padding: 10px 0;
      text-align: center;
      background: #098048;
      color: white;
      font-weight: bold;
      font-size: 15px;
    }
    .afficher-cacher-filtre span{
      width: 100%;
      display: block;
      
    }
    div[onclick], .activites tr,.afficher-cacher-filtre {
        cursor: pointer;
    }

     
     #time-range p {
    font-family:"Arial", sans-serif;
    font-size:14px;
    color:#333;
}
.ui-slider-horizontal {
    height: 8px;
    background: #D7D7D7;
    border: 1px solid #BABABA;
    box-shadow: 0 1px 0 #FFF, 0 1px 0 #CFCFCF inset;
    clear: both;
    margin: 8px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 100%;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 8px;
    font-size: .7em;
    display: block;
    border: 1px solid #5BA8E1;
    box-shadow: 0 1px 0 #AAD6F6 inset;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    background: #81B8F3;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #A0D4F5), color-stop(100%, #81B8F3));
    background-image: -webkit-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -moz-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -o-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: linear-gradient(top, #A0D4F5, #81B8F3);
}
.ui-slider .ui-slider-handle {
    border-radius: 50%;
    background: #F9FBFA;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #C7CED6), color-stop(100%, #F9FBFA));
    background-image: -webkit-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -moz-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -o-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: linear-gradient(top, #C7CED6, #F9FBFA);
    width: 22px;
    height: 22px;
    -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: default;
    border: none;
    cursor: pointer;
}
.ui-slider .ui-slider-handle:after {
    content:"";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -4px;
    background: #30A2D2;
    -webkit-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
    -moz-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 white;
    box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}
.ui-slider a:focus {
    outline:none;
}
#dateMin {
  float:left;
}
#dateMin,#dateMax {
  width:50%;
}
.liste input,.liste label{
    display: block;
    float: left;
    width: inherit;
    padding-left: 1%;
    padding-right: 1%;

}
.labelPointCarte{
    padding-bottom: : 10%;

}
.btn-outline-success:hover {
    color: #fff;
    background-color: #1c8654;
    border-color: #1c8654;
}
.btn-outline-success {
    color: #1c8654;
    background-color: transparent;
    background-image: none;
    border-color: #1c8654;
}
h3 {
  margin-top: 2rem;
}

#infoActivite .row {
  margin-bottom: 1rem;
  margin-right:0;
  margin-left:0;
}
#infoActivite .row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
#infoActivite [class*="col-"] {
  background-color: white;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.alert button{
 	width : 98%
 }
  
 #listeActivites>tbody>tr:focus, #listeActivites>tbody>tr:hover {
    color: white;
    background-color: #098048;
}
.alert{
	width: 100%;
}
.btn{
    white-space:normal !important;
    word-wrap: break-word; 
}
.image{
	max-width: 100%;
    height: auto;
}
#listeActivites td, #listeActivites th{
  border: none !important;
}
#listeActivites_length select,#listeActivites_length button, #listeActivites_length label, #listeActivites_filter label,#listeActivites_filter input{
  width:inherit;
  font-weight:inherit;
}
#listeActivites_wrapper {
  padding-top: 2%;
}
#velo{
    border-bottom-style: solid;
    border-bottom-color: #148755;
}
.row{
  margin-right: inherit;
  margin-left: inherit;
}
#inscription div{
  margin-bottom: 1%;
}
.popup{
  font-size: 1.1rem
}
.alert-info {
    color: black;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.bordure {
    padding: 1em 1em;
    border-left: 3px solid #098048;
    border-right: 3px solid #098048;
    border-bottom: 3px solid #098048;
}
.titre {
    background: #098048;
    color: white;
    text-align: center
}

.croix {
    position: relative;
    float: right;
    padding-right: 0.5%;
    cursor: pointer;
}
.espace{
      display: inline-block;
      width: 17%;
}
.bordureGrise{
  border: 1px solid #ccc;
  padding: 1% 1% 1% 1%;
}
.modal.fade .modal-dialog {
  -webkit-transform: inherit;
  transform: inherit;
  }
  .close{
  width:inherit;
}
#contactFormFormation .form-check-label{
  padding-left: 5%;
}

.form-check-input, input[type=radio]{
  width:inherit;
}
#ajoutParticipantActivite{
  font-size: 2rem;
}
#feteDesPossible{
    color: black !important;
}