<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link href="/stylesheets/accueil.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body onload="InitialiserCarte();">
  <% include ../partials/nav.ejs %>

<div class="container">

<h1 class="text-center couleurVert">Revivez le Tour Alternatiba étape par étape</h1>
</br>
<div class="text-justify description">
  Du 9 juin au 6 octobre 2018, le Tour Alternatiba a parcourru 5 800 km à vélo et a traversé 200 territoires afin de promouvoir les alternatives au dérèglement climatique. Le Tour de Chauffe, qui eu lieu du 3 au 8 juin 2018, a sensibilisé plusieurs villes d’Ile-de-France à l’urgence climatique et à lancé le décompte avant le Grand Départ du 9 Juin.
  Plusieurs Tours Etendus ont rejoins le parcours du Tour Alternatiba et ont permis de toucher encore davantage de personnes.
 </br>
</div>

</br>
<!-- <p class="text-center">Cliquez sur la carte ou dans la liste en bas de page pour sélectionner l'étape qui vous intéresse et accéder à tous ses détails.</p> -->
</p>

<% include ./accueil/carte.ejs %>

</p>	
   
<% include ./accueil/listeVillage.ejs %>

</p>
</div>
</body>

  <% include ../partials/footer.ejs %>


</html>


<script>

        
	$(".navbar-nav li").removeClass("active");
	$("#accueil_Icone").addClass("active");
</script>
