<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
<link href="/stylesheets/village.css" rel="stylesheet" type="text/css" media="all" />

</head>

<body>

<% include ../partials/nav.ejs %>
  <%
  if (typeof accesscontrol !== "undefined" && accesscontrol!=null && typeof utilisateur !== "undefined" && utilisateur!=null ) {
  if ( utilisateur.role!=null &&  accesscontrol.can(utilisateur.role).readAny('analyseData').granted){
  %>
  <div class="container">
  <table id="listeUtilisateur" class=" activites tableau">
      <thead>
      <tr>
          <td >nom Activite </td>
          <td >description Activite</td>
          <td >typeActivite</td>
          <td >Ville</td>


      </tr>
      </thead>
      <tbody>
      <% if (typeof toutLesVillages !== "undefined" && toutLesVillages !== null) {
      toutLesVillages.forEach(function(village) {
      village._activites.forEach(function(activite) {
      %>
      <tr  id="<%= utilisateur._id %>">
          <td ><%= activite.nom %> </td>
          <td ><%= activite.description %></td>
          <td ><%= activite.typeActivite %></td>
          <td ><%= village.nom %>
      </tr>
      <% });
      }); }%>
      </tbody>
  </table>
<%
    }else{
      %>
      Tu n'as pas les droits fait une demande à etape@alternatiba.fr
      <%
    }
}
 %>

  <p>

</body>

  <% include ../partials/footer.ejs %>

</html>
<script>
    $.fn.dataTable.moment('DD/MM/YYYY, HH:mm');
    $('#listeUtilisateur').DataTable( {
        responsive: true,

        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"

        }, bSortable: false,
        "scrollX": true,
        dom: 'Blfrtip',
        buttons: [
            'excelHtml5',
            'csvHtml5'
        ]
    } );



  


</script>