
<!-- popin -->
<div class="modal fade" id="popinContact" tabindex="-1" role="dialog" aria-labelledby="popinLabel" aria-hidden="true">
  <form method="post" action="/village/contactVillage" id="popinContactForm">
    <input type="text" style="display:none" id ="contactVillageId" name="villageId"  />

      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="popinLabel">Contacter l'étape</h5> 
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           Vous pouvez ajouter un message aux référents de l'étape :
           <textarea form ="popinContactForm" name="contactMessage"> </textarea>
           <label id="labelEmail" for="emailContact">Adresse email pour être recontacté : </label>
            <input type="email" form ="popinContactForm" name="emailContact" id="emailContact" value="" required/>
          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-default couleurbg" id="ok">Contacter l'étape</button>
          </div>
        </div>
      </div>
  </form>	
</div>
