

<div class="text-center" id="velo">
		 	<img  id="imageVelo" class=""  width="150" src="/images/velo.png">
		 </div>
<ul class="nav nav-tabs nav-justified">
    <li class="active tab"><a data-toggle="tab" href="#toutesEtapes">Toutes les étapes</a></li>
    <li class="tab formation"><a data-toggle="tab" href="#menu1">Les étapes avec formation à l’action non-violente</a></li>
</ul>
<div class="tab-content">
    <div id="toutesEtapes" class="tab-pane fade in active">
        <table id="listeVillage"  class="tableau">

            <thead>
            <td class="couleurAvecFond hide">Ville de l'étape</td>
            <td class="couleurAvecFond">Ville de l'étape</td>
            <td class="cacherMobile couleurAvecFond" >Description</td>
            <td class="couleurAvecFond hide ">Début</td>
            <td class="couleurAvecFond hide ">Fin</td>
            <td class="couleurAvecFond">Horaire</td>
            <td class="couleurAvecFond"></td>

            </thead>
            <tbody>
            <% include ../../utils/dateUtils.ejs %>
            <%
            if (typeof villages !== "undefined" && villages!=null) {
                var villageTour;
                villages.forEach(function (village) {
                            if (villageTour != undefined){

                                if( !(village.horsTour!= undefined && village.horsTour)
                                        && !(village.estPreTour!= undefined && village.estPreTour) && !(village.estTourEtendu!= undefined && village.estTourEtendu ) ) {
                                    //  debugger;
                                    if (moment.utc(village._horairesOuvertures[0].dateDebut.getTime()).isBefore(moment.now()) && moment.utc(village._horairesOuvertures[0].dateDebut.getTime()).diff(moment.now()) > moment.utc(villageTour._horairesOuvertures[0].dateDebut.getTime()).diff(moment.now())) {
                                        villageTour = village;
                                        //  debugger;
                                    }
                                }
                            }
                            else {
                                villageTour = village;
                            }
                        }
                );

            villages.forEach(function(village) {
            if(!(village.horsTour!= undefined && village.horsTour)){%>
            <tr id="<%= village._id %>" description-"<%= village._id %>" class="<% if(!(village.publication!=null && village.publication)){ %>nonCliquable<% } if(villageTour==village){%> prochainVillage<%}%>">
            <td class="hide" ><%= village.nom %></td>
            <td><%
                    var libelleIcone="marker";
                    if(village == villageTour) {
                        libelleIcone += "_velo";
                    }
                    else if(village.estPreTour!= undefined && village.estPreTour){
                        libelleIcone+="_preTour";
                    }else if(village.estTourEtendu!= undefined && village.estTourEtendu){
                        libelleIcone+="_etendu";
                    }
                %>
                <img  id="imageVelo" src="/images/<%=libelleIcone%>.png">
                <%= village.nom %></td>
            <td  class="cacherMobile"><% if (village.description!=null){ %> <%= village.description.substr(0,150) %> <%}%> </td>
            <td class='date hide'> <% if (village._horairesOuvertures!=null){
                village._horairesOuvertures.forEach(function(horaire) {
                %>
                <%= moment.utc(horaire.dateDebut).format('DD/MM/YYYY, HH:mm')%>
                <%
                });
                }
                %>
            </td>
            <td class='date hide '><% if (village._horairesOuvertures!=null){
                village._horairesOuvertures.forEach(function(horaire) {
                %>
                <%= moment.utc(horaire.dateFin).format('DD/MM/YYYY, HH:mm')%>
                <%
                });
                }
                %>
            </td>
            <td class='date'> <% if (village._horairesOuvertures!=null){
                village._horairesOuvertures.forEach(function(horaire) {
                %>
                <%- libelleHoraire(horaire,village.afficherHoraire)%>
                <%
                });
                }
                %>
            </td>
            <td>
                <% if(!(village.publication!=null && village.publication)){
                %>
                <button type="button"  data-villageid="<%= village._id %>" class="btn btn-default couleurbg contact" data-toggle="modal" data-target="#popinContact">Contacter l'étape</button>
                <%
                } else {
                %>
                <button class="btn btn-default couleurbg">En savoir plus</button>
                <%
                }
                %>
            </td>
            </tr>
            <% }
            }); }%>
            </tbody>
        </table>
    </div>
    <div id="menu1" class="tab-pane fade">
        <table id="listeVillageFormation" class="tableau">

            <thead>
            <td class="couleurAvecFond hide">Ville de l'étape</td>
            <td class="couleurAvecFond">Ville de l'étape</td>
            <td class="couleurAvecFond hide ">Début</td>
            <td class="couleurAvecFond hide ">Fin</td>
            <td class="couleurAvecFond">Horaire</td>
            <td class="couleurAvecFond"></td>

            </thead>
            <tbody>
            <% include ../../utils/dateUtils.ejs %>
            <%
            if (typeof villages !== "undefined" && villages!=null) {
                var villageTourFormation;
                villages.forEach(function (village) {

                            if (villageTourFormation != undefined){

                                if( !(village.horsTour!= undefined && village.horsTour)
                                        && !(village.estPreTour!= undefined && village.estPreTour) && !(village.estTourEtendu!= undefined && village.estTourEtendu ) &&  village._activites!= undefined ) {
                                    if (moment.utc(village._horairesOuvertures[0].dateDebut.getTime()).isBefore(moment.now()) && moment.utc(village._horairesOuvertures[0].dateDebut.getTime()).diff(moment.now()) > moment.utc(villageTourFormation._horairesOuvertures[0].dateDebut.getTime()).diff(moment.now())) {

                                        var formation ;
                                        village._activites.forEach(function(activite) {

                                            if(activite.typeActivite=="Formation") {
                                                formation=activite;
                                            }

                                        });
                                        if((formation!=null && formation!=undefined)){
                                            villageTourFormation=village;
                                        }

                                    }
                                }
                            }
                            else {
                                villageTourFormation = village;
                            }
                        }
                );

            villages.forEach(function(village) {
                var formation;
            if( village._activites!= undefined){
                village._activites.forEach(function(activite) {

                    if (activite.typeActivite == "Formation") {
                        formation = activite;
                    }
             });
            }
            if(!(village.horsTour!= undefined && village.horsTour)  && (formation!=null && formation!=undefined)){ %>
            <tr id="<%= village._id %>&activiteId=<%= formation._id %>" description-"<%= village._id %>" class="<% if(!(village.publication!=null && village.publication)){ %>nonCliquable<% } if(villageTour==village){%> prochainVillage<%}%>">
            <td class="hide" ><%= village.nom %></td>
            <td><%
                    var libelleIcone="marker";
                    if(village == villageTour) {
                        libelleIcone += "_velo";
                    }
                    else if(village.estPreTour!= undefined && village.estPreTour){
                        libelleIcone+="_preTour";
                    }else if(village.estTourEtendu!= undefined && village.estTourEtendu){
                        libelleIcone+="_etendu";
                    }
                %>
                <img  id="imageVelo" src="/images/<%=libelleIcone%>.png">
                <%= village.nom %></td>
            <td class='date hide'> <% if (village._horairesOuvertures!=null){
                village._horairesOuvertures.forEach(function(horaire) {
                %>
                <%= moment.utc(horaire.dateDebut).format('DD/MM/YYYY, HH:mm')%>
                <%
                });
                }
                %>
            </td>
            <td class='date hide '><% if (village._horairesOuvertures!=null){
                village._horairesOuvertures.forEach(function(horaire) {
                %>
                <%= moment.utc(horaire.dateFin).format('DD/MM/YYYY, HH:mm')%>
                <%
                });
                }
                %>
            </td>
            <td class='date'> <% if (village._horairesOuvertures!=null){
                village._horairesOuvertures.forEach(function(horaire) {
                %>
                <%- libelleHoraire(horaire,village.afficherHoraire)%>
                <%
                });
                }
                %>
            </td>
            <td>
                <button class="btn btn-default couleurbg">En savoir plus</button>
            </td>
            </tr>
            <% }
            }); }%>
            </tbody>
        </table>
    </div>
    <div id="menu2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Some content in menu 2.</p>
    </div>
</div>


  <script>

  $("#listeVillage tbody tr:not(.nonCliquable)").click(function(event) {
            var target = event.target;
            if(target.parentElement.localName=="td"){
               var parent = target.parentElement.parentElement;
            }
            else{
              var parent = target.parentElement
          }
          var villageId=parent.id;
            window.location.href = "/village?villageId="+villageId;
        });
  $("#listeVillageFormation tbody tr").click(function(event) {
      var target = event.target;
      if(target.parentElement.localName=="td"){
          var parent = target.parentElement.parentElement;
      }
      else{
          var parent = target.parentElement
      }
      var villageId=parent.id;
      window.location.href = "/village?villageId="+villageId;
  });
   $(".contact").click(function(event) {
      $("#contactVillageId").val($(event.target).data('villageid'));
    });
   $.fn.dataTable.moment('DD/MM/YYYY, HH:mm');

  jQuery.fn.dataTable.Api.register( 'page.jumpToData()', function ( data, column ) {
      var pos = this.column(column, {order:'current'}).data().indexOf( data );

      if ( pos >= 0 ) {
          var page = Math.floor( pos / this.page.info().length );
          this.page( page ).draw( false );
      }

      return this;
  } );

  var tableauVillage=$('#listeVillage').DataTable( {
        responsive: true,
        bSortable: false,
        "columnDefs": [
          { "orderable": false, "targets": "_all" } // Applies the option to all columns
        ],
    "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
            },
        'iDisplayLength': 25

         ,
          "order": [[ 3, "asc" ]],
      "initComplete": function(settings, json) {
          tableauVillage.page.jumpToData("<%=villageTour.nom %>", 0);
      }

  } );


var initalise=false;
  var tableauVillageFormation
  $(".formation").click(function(event) {
    debugger;
      if(!initalise) {
           tableauVillageFormation = $('#listeVillageFormation').DataTable({
              responsive: true,
              bSortable: false,
              "columnDefs": [
                  {"orderable": false, "targets": "_all"} // Applies the option to all columns
              ],
              "language": {
                  "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
              },
              'iDisplayLength': 25

              ,
              "order": [[3, "asc"]],
              "initComplete": function (settings, json) {

                  tableauVillageFormation.page.jumpToData("<%= villageTourFormation.nom %>", 0);
              }

          });
          initalise=true;
      }
  });
// Trie par date https://www.datatables.net/plug-ins/sorting/datetime-moment

</script>